In [ ]:
# import pandas library
import pandas as pd

# import os library to load prepared data from collab
import os 

# view all items in 'sample_data' directory
os.listdir('sample_data')

# convert csv to dataframe and save the value to a variable
df = pd.read_csv('sample_data/california_housing_test.csv') 

# show top 5 rows in the dataframe
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]